* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: rgb(118, 102, 183);
  background: linear-gradient(
    90deg,
    rgba(118, 102, 183, 1) 0%,
    rgba(156, 142, 237, 1) 35%,
    rgba(254, 110, 189, 1) 100%
  );
}
